@import url("https://fonts.googleapis.com/css?family=Economica|Suez+One|Yanone+Kaffeesatz:200&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Economica", sans-serif;
  background: #f5f5f5;
  color: #f5f5f5; }
  body .App {
    width: 100%;
    max-width: 900px;
    margin: 2.5em auto;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.13);
    background: #778899; }
    body .App header {
      border: 1px solid #778899;
      text-align: center;
      background-image: url("../img/bg-1.jpeg");
      background-blend-mode: multiply;
      background-size: cover;
      height: 175px; }
      body .App header h1 {
        font-family: "Suez One", serif;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
        font-size: 2.15em;
        line-height: 0.75;
        margin-top: 0.5em;
        margin-bottom: 0; }
      body .App header p {
        font-family: "Suez One", serif;
        font-size: 1.15em;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6); }
      body .App header form {
        border: 4px solid #f5f5f5;
        width: 55%;
        height: 55px;
        margin: 65px auto;
        display: inline-block;
        overflow: hidden;
        display: -ms-flexbox;
        display: flex;
        border-radius: 0.5em;
        -webkit-box-shadow: 0 1px 14px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 14px rgba(0, 0, 0, 0.25); }
        body .App header form input, body .App header form button {
          border: none;
          outline: none; }
        body .App header form input {
          padding: 12px;
          font-size: 1.15em;
          width: 100%;
          font-family: "Economica", sans-serif; }
        body .App header form button {
          padding: 0 1em;
          font-size: 1em;
          background: #4682b4;
          border-radius: 0.5em;
          box-shadow: 0 1px 14px rgba(0, 0, 0, 0.15);
          color: #f5f5f5; }
    body .App .main .main-top {
      display: inline-block;
      overflow: hidden;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between; }
    body .App .main .hide-task {
      margin: 15px 0 0 45px; }
      body .App .main .hide-task h2 {
        font-family: "Economica", sans-serif;
        font-size: 1.45em;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
        margin-bottom: 0; }
    body .App .main .counter {
      float: right;
      margin: 15px 45px 0 0; }
    body .App .main .main-body ul {
      list-style: none;
      padding: 0;
      margin: 2em 0 1em;
      display: flex;
      flex-wrap: wrap; }
      body .App .main .main-body ul li {
        width: 30%;
        display: flex;
        flex-direction: column;
        margin: 5px; }
        body .App .main .main-body ul li span {
          height: 45px;
          font-family: "Economica", sans-serif;
          font-size: 1.15em;
          text-align: center;
          padding: 5px; }
        body .App .main .main-body ul li label {
          margin: auto; }
        body .App .main .main-body ul li button {
          width: 65%;
          margin: 5px auto;
          border-radius: 0.5em;
          background-color: #4682b4;
          box-shadow: 0 1px 14px rgba(0, 0, 0, 0.15);
          color: #f5f5f5; }
        body .App .main .main-body ul li .warning {
          background-color: #Dc143c; }
          li span,
          li input[type=text] {
            font-size: 1.15em;
            margin-bottom: .3em;
            background-color: #778899;
            color: #f5f5f5;
            cursor: text;
            font-family: "Economica", sans-serif;
          }
          
          li input[type=text] {
            padding: .2em;
            width: 90%;
            border: 1px solid rgba(0, 0, 0, .2);
            margin: 0 auto
          }
          
          input[type="checkbox"] {
            margin-right: 5px;
          }
          
          li label {
            font-size: .9em;
            display: block;
            color: #f5f5f5;
          }
          
          li span,
          li input[type=text]:first-child {
            display: block;
          }
          .pending
          {
            border: 1px solid rgba(0, 0, 0, .30);
            border-radius: .5em;
            box-shadow: 1px 2px 14px rgba(0, 0, 0, .30);
            
          }
          .pending span
          {
            color: #483d8b;
            font-family: "Economica", sans-serif;
          }
@media only screen and (max-width: 600px){
  .App header {
    margin: 0 0 35px 0;
  }
  body .App header form {
    border: 2px solid #f5f5f5;
    width: 85%;
    height: 55px;
    margin: 65px auto;
    display: inline-block;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 1px 14px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.25); }
  }